.my-button{
    min-width: 150px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;

    font-size: 18px;
    transition: background 200ms ease-in-out;
}

.my-button--primary{
    background: royalblue;
    color: white;
    border: none;

}

.my-button--primary:hover{
    background: darkblue;
}

.my-button--bordered{
    border: 1px solid royalblue;
    color: royalblue;
    background: none;
}

.my-button--bordered:hover{
    background: royalblue;
    color: white;
}

.my-button--sm{
    min-width: 85px;
    min-height: 30px;
}

.my-button--md{
    min-width: 115px;
    min-height: 50px;

}

.my-button--lg{
    min-width: 145px;
    min-height: 70px;
}