.btn {
    cursor: pointer;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    transition: background 300ms ease-in-out;
}

.btn--primary {
    background: royalblue;
    color: white;
    border: none;
}

.btn--primary:hover {
    background: #06237a;
}

.btn--bordered {
    border: 1px solid royalblue;
    color: royalblue;
    background: none;
}

.btn--bordered:hover {
    background: royalblue;
    color: white;
}

.btn--sm {
    min-width: 120px;
    min-height: 40px;
}

.btn--md {
    min-width: 150px;
    min-height: 50px;
}

.btn--lg {
    min-width: 180px;
    min-height: 60px;
}